*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

.schedule {
  overflow:scroll;
}

.scheduleRow {
  touch-action: none;
  flex-shrink: 0;
  overflow: auto;
  background-color: transparent;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0.514) 2px, transparent 1px);
  background-position: -1px;
}


.weekHeader {
  display: flex;
  flex-wrap: nowrap;    
  width: 100%;
  height: 50px;
}

.weekHeader > div {
  background-color: #fbfbfb;
  text-align: center;
  border: 1px #eee solid;
  flex-shrink: 0;
  vertical-align: middle;
  line-height: 1.5;
}

.zoom {
  padding: 15px;
}

.zoom > input {
  width: 90%;
}

.scheduleItem > div {
  overflow: hidden;
}

.scheduleItemDate {
  font-size: 9px;
  width: 100%;
  white-space: nowrap
}

.scheduleRow .easy-edit-wrapper {
  font-size: 10px;
}

.scheduleRow input {
  font-size: 10px;
  background-color: transparent;
  border: none;
  outline: none;   
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.filter {
  border-top: 1px #eee solid;
  position: absolute;
  margin-top:-1px;
}

.filter h5 {
  margin: 0;
  padding: 0;
}
.filter h6 {
  margin: 0;
  padding: 0;
}

.filter .title {
  margin: 28px 0 0 80px;
  position: absolute;
  z-index: 2;
}

.filter .roundAvatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
  position: absolute;
  z-index: 2;

}