*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}

.schedule {
  overflow:scroll;
}

.scheduleRow {
  flex-shrink: 0;
  overflow: auto;
  background-color: transparent;
  background-repeat: repeat-x;
  background-image: linear-gradient(to right, rgba(238, 238, 238, 0.514) 2px, transparent 1px);
  background-position: -1px;
}


.weekHeader {
  display: flex;
  flex-wrap: nowrap;    
  width: 100%;
  height: 50px;
}

.weekHeader > div {
  background-color: #f1f1f1;
  text-align: center;
  border-right: 1px #ddd solid;
  border-left: 1px #ddd solid;
  flex-shrink: 0;
}


.scheduleItem > div {
  overflow: hidden;
}
.scheduleItemDate {
  font-size: 9px;
  width: 100%;
  white-space: nowrap
}

.scheduleRow .easy-edit-wrapper {
  font-size: 10px;
}

.filter {
  border-bottom: 1px solid #eee;
}
.filter h5 {
  margin: 0;
  padding: 0;
}
.filter h6 {
  margin: 0;
  padding: 0;
}

.filter .title {
  margin: 28px 0 0 10px;
  top: auto;
  left: 80px;
  position: fixed;
}

.filter .roundAvatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px;
  top: auto;
  left: auto;
  position: fixed;
}